<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Basics</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	@font-face {
		font-family: 'AeonikPro';
		src: url('/fonts/AeonikPro-Regular.woff2') format('woff2');
		font-weight: normal;
		font-style: normal;
	}

	@font-face {
		font-family: 'AeonikPro';
		src: url('/fonts/AeonikPro-RegularItalic.woff2') format('woff2');
		font-weight: normal;
		font-style: italic;
	}

	@font-face {
		font-family: 'AeonikPro';
		src: url('/fonts/AeonikPro-Medium.woff2') format('woff2');
		font-weight: 500;
		font-style: normal;
	}

	@font-face {
		font-family: 'AeonikPro';
		src: url('/fonts/AeonikPro-Bold.woff2') format('woff2');
		font-weight: bold;
		font-style: normal;
	}

	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
		font-family: 'AeonikPro', sans-serif;
	}
</style>
